# Ignore Gradle project-specific cache directory
.gradle
# Intellij
.idea
# Ignore Gradle build output directory
build
# BuildSrc
buildSrc/build
buildSrc/.gradle

# Helper-Redis
helper-redis/build

# Testing Plugin
plugin